@model BusinessLayer.Models.VMs.AppUserandDepartments
@{
    ViewData["Title"] = "AddUser";
    Layout = "~/Views/Shared/_ManagerLayout.cshtml";
}

<h1>Yeni Personel</h1>
<br />
@using (Html.BeginForm("AddUser", "User", FormMethod.Post))
{
    @Html.Label("Adı")
    @Html.TextBoxFor(x=>x.appUserUpdateDTO.FirstName,new{@class="form-control"})
    @Html.ValidationMessageFor(x=>x.appUserUpdateDTO.FirstName)
    <br />
    @Html.Label("Soyadı")
    @Html.TextBoxFor(x=>x.appUserUpdateDTO.LastName,new{@class="form-control"})
    @Html.ValidationMessageFor(x=>x.appUserUpdateDTO.LastName)
    <br />
    @Html.Label("TC NO")
    @Html.TextBoxFor(x=>x.appUserUpdateDTO.TCNO,new{@class="form-control"})
    @Html.ValidationMessageFor(x=>x.appUserUpdateDTO.TCNO)
    <br />
    @Html.Label("Departman")
           <select asp-for="appUserUpdateDTO.DepartmentID" class="form-control">
        @foreach (var item in Model.departmentsList)
        {
                    <option value="@item.DepartmentID">
                @item.DepartmentName
                </option>
        }
        </select>
    <br />
    @Html.Label("Fotoğraf")
     <div class="form-group">
        <label asp-for="appUserUpdateDTO.file" class="control-label"></label>
        <input type="file" name="file" class="form-control-file" />
        <span asp-validation-for="appUserUpdateDTO.file" class="text-danger"></span>
    </div>
    <br />
    @Html.Label("Doğum Tarihi")
    @Html.TextBoxFor(x=>x.appUserUpdateDTO.BirthDate,new{@class="form-control"})
    @Html.ValidationMessageFor(x=>x.appUserUpdateDTO.BirthDate)
    <br />
    @Html.Label("Adres")
    @Html.TextBoxFor(x=>x.appUserUpdateDTO.Address,new{@class="form-control"})
    @Html.ValidationMessageFor(x=>x.appUserUpdateDTO.Address)
    <br />
    @Html.Label("Ünvan")
    @Html.TextBoxFor(x=>x.appUserUpdateDTO.Title,new{@class="form-control"})
    @Html.ValidationMessageFor(x=>x.appUserUpdateDTO.Title)
    <br />
    <button class="btn btn-primary" type="submit">Kaydet</button>

}