@using BusinessLayer.Models.VMs
@model AppUserDetailsVM
@{
    ViewData["Title"] = "UserDetails";
    Layout = "~/Views/Shared/_ManagerLayout.cshtml";
}

<h1>Personelin Detayları</h1>


<table class="table table-bordered">
    <tr>
        <th>İsim</th>
        <th>Soyİsim</th>
        <th>TC NO</th>
        <th>Doğum Tarihi</th>
        <th>Adres</th>
        <th>Ünvan</th>
        <th>Departman</th>
    </tr>

    <tr>

        <td>@Model.FirstName</td>
        <td>@Model.LastName</td>
        <td>@Model.TCNO</td>
        <td>@Model.BirthDate</td>
        <td>@Model.Address</td>
        <td>@Model.Title</td>
        <td>@Model.Department.DepartmentName</td>
    </tr>

</table>

