@using BusinessLayer.Models.VMs
@model AppUserDetailsandEmployeesVM
@{
    ViewData["Title"] = "Manager";
    Layout = "../Shared/_ManagerLayout.cshtml";
}

<!DOCTYPE html>
<html lang="en">

<body>

    <div class="page-header">
        <h3 class="page-title">
            <span class="page-title-icon bg-gradient-primary text-white mr-2">
                <i class="mdi mdi-home"></i>
            </span> Yönetici Paneli
        </h3>
    </div>

    <div class="row">
        <div class="col-md-4 stretch-card grid-margin">
            <div class="card bg-gradient-danger card-img-holder text-white">

                <div class="card-body">
                    <img src="~/writer/assets/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image" />
                    <h4 class="font-weight-normal mb-3">
                        Personel Sayısı <i class="mdi mdi-chart-line mdi-24px float-right"></i>
                    </h4>
                    <h2 class="mb-5">@ViewBag.v1</h2>

                </div>
            </div>
        </div>
        <div class="col-md-4 stretch-card grid-margin">
            <div class="card bg-gradient-info card-img-holder text-white">
                <div class="card-body">
                    <img src="~/writer/assets/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image" />
                    <h4 class="font-weight-normal mb-3">
                        Departman Sayısı <i class="mdi mdi-bookmark-outline mdi-24px float-right"></i>
                    </h4>
                    <h2 class="mb-5">@ViewBag.v2 </h2>

                </div>
            </div>
        </div>
        <div class="col-md-4 stretch-card grid-margin">
            <div class="card bg-gradient-success card-img-holder text-white">
                <div class="card-body">
                    <img src="~/writer/assets/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image" />
                    <h4 class="font-weight-normal mb-3">
                        Yıllık İzin Gün Sayısı <i class="mdi mdi-diamond mdi-24px float-right"></i>
                    </h4>
                    <h2 class="mb-5"> @Model.appUserDetailsVM.AnnualLeave</h2>

                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title"> @(Model.appUserDetailsVM.FirstName + " " + Model.appUserDetailsVM.LastName + " " + "Hoşgeldiniz")</h4>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="nav-profile-image">
                            <img src="~/writer/assets/images/faces/face10.jpg" alt="profile">
                            </div>
                            <p class="font-weight-bold mb-2">@Model.appUserDetailsVM.Title</p>
                        </div>
                        

                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-12">
                            <div class="col-md-12">
                                <address>
                                    <p class="font-weight-bold">Telefon:</p>
                                    <p class="mb-2">@Model.appUserDetailsVM.PhoneNumber</p>
                                    <p class="font-weight-bold">Adres:</p>
                                    <p class="mb-2">@Model.appUserDetailsVM.Address</p>
                                </address>
                                <address class="text-primary">
                                    <p class="font-weight-bold mb-2">Email: jane.doe@sirketadi.com</p>
                                    <p class="font-weight-bold mb-2">@("Şirket: BoostHR")</p>
                                </address>
                            </div>
                        </div>
                    </div>

                    @using (Html.BeginForm("UserDetailsManager", "User", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.TextBoxFor(x => x.appUserDetailsVM.Id,new { @Value = @Model.appUserDetailsVM.Id,@type="hidden" })
                    <button class="btn btn-gradient-info col-12" type="submit">Detaylar</button>
                    }

                </div>
            </div>
        </div>
        <div class="col-md-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Yaklaşan Doğum Günleri</h4>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th> Fotoğraf </th>
                                    <th> İsim Soyisim </th>
                                    <th> Doğum Tarihi </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.employeeList)
                                {
                                    <tr>
                                        <td>
                                            <img src="~/images/@item.ImagePath" class="mr-2" alt="image">
                                        </td>
                                        <td>@(item.FirstName + " " + item.LastName)</td>
                                        <td> @(((DateTime)item.BirthDate).ToString("dd/MM/yyyy")) </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>


        </div>
    </div>

</body>
</html>

