@using BusinessLayer.Models.VMs
@model List<AppUserVM>
@{
    ViewData["Title"] = "PersonList";
    Layout = "../Shared/_ManagerLayout.cshtml";
}


<div class="page-header">
    <h3 class="page-title">
        <span class="page-title-icon bg-gradient-primary text-white mr-2">
            <i class="mdi mdi-format-list-bulleted menu-icon"></i>
        </span> Personel Listesi
    </h3>
</div>


@if (TempData["message"] != null)
{
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-success">
                @TempData["message"]
            </div>
        </div>
    </div>

}




<div class="search-field d-none d-md-block bg-white">
    <form class="d-flex align-items-center h-100" action="#">
        <div class="input-group">
            <div class="input-group-prepend bg-transparent">
                <i class="input-group-text border-0 mdi mdi-magnify" style="font-size: 20px"></i>
            </div>
            <input type="text" id="myInput" onkeyup="myFunction()" class="form-control bg-transparent border-0" style="font-size: 14px" placeholder="Aranacak kelime">
        </div>
    </form>
</div>
<br>


<script>
    function myFunction() {
        var input, filter, myTableBody, tr, firstName, lastName, i, firstNameValue, lastNameValue, departmantName, departmantNameValue, unvanName, unvanNameValue;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        myTableBody = document.getElementById("myTableBody");
        tr = myTableBody.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            firstName = tr[i].getElementsByTagName("td")[1];
            lastName = tr[i].getElementsByTagName("td")[2];
            departmantName = tr[i].getElementsByTagName("td")[3];
            unvanName = tr[i].getElementsByTagName("td")[4];

            firstNameValue = firstName.textContent || firstName.innerText;
            lastNameValue = lastName.textContent || lastName.innerText;
            departmantNameValue = departmantName.textContent || departmantName.innerText;
            unvanNameValue = unvanName.textContent || unvanName.innerText;

            if (firstNameValue.toUpperCase().indexOf(filter) > -1 || lastNameValue.toUpperCase().indexOf(filter) > -1
                || departmantNameValue.toUpperCase().indexOf(filter) > -1 || unvanNameValue.toUpperCase().indexOf(filter) > -1) {
                tr[i].style.display = "";
            } else {
                tr[i].style.display = "none";
            }

        }
    }
</script>


<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Personeller</h4>
                <div class="table-responsive">
                    <table class="table" id="myTable">
                        <thead>
                            <tr>
                                <th> Fotoğraf </th>
                                <th> İsim </th>
                                <th> Soyisim </th>
                                <th> Departman </th>
                                <th> Ünvan </th>
                                <th> Detaylar </th>
                            </tr>
                        </thead>
                        <tbody id="myTableBody">
                            @foreach (var item in Model)
                            {
                                string renk = string.Empty;
                                @*renk = "background: linear-gradient(to right,rgb(255, 0, 0) 0%, rgb(0, 255, 0) 100%);";*@


                                if (item.Department.DepartmentName == "Yönetim")
                                {
                                    renk = "badge-gradient-success";
                                }
                                if (item.Department.DepartmentName == "Üretim")
                                {
                                    renk = "badge-gradient-warning";
                                }
                                if (item.Department.DepartmentName == "IT")
                                {
                                    renk = "badge-gradient-danger";
                                }
                                if (item.Department.DepartmentName == "İnsan Kaynakları")
                                {
                                    renk = "badge-gradient-info";
                                }
                                if (item.Department.DepartmentName == "Muhasebe")
                                {
                                    renk = "badge-gradient-primary";
                                }
                                if (item.Department.DepartmentName == "Pazarlama")
                                {
                                    renk = "badge-gradient-secondary";
                                }
                                if (item.Department.DepartmentName == "Satın Alma")
                                {
                                    renk = "badge-gradient-dark";
                                }
                                if (item.Department.DepartmentName == "Lojistik")
                                {
                                    renk = "badge-gradient-muted";
                                }
                                if (item.Department.DepartmentName == "Güvenlik")
                                {
                                    renk = "badge-gradient-light";
                                }
                                if (item.Department.DepartmentName == "Mühendislik")
                                {
                                    renk = "badge-gradient-secondary";
                                }

                                <tr>
                                    <td>
                                        <img src="~/images/@item.ImagePath" class="mr-2" alt="image">
                                    </td>
                                    <td>
                                        @if (item.SecondName != null)
                                        {
                                            @(item.FirstName + " " + item.SecondName)
                                        }
                                        else
                                        {
                                            @item.FirstName
                                        }
                                    </td>
                                    <td>
                                        @item.LastName
                                    </td>
                                    <td>
                                        <label class="badge @renk"> @item.Department.DepartmentName</label>
                                    </td>
                                    <td> @item.Title </td>
                                    <td> <a href="/Manager/User/UserDetailsManager/@item.Id" class="btn btn-gradient-info">Detaylar</a> </td>

                                </tr>
                            }



                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

